* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  background: #10141e;
  font-family: Outfit;
  gap: 26px;
}

header {
  display: flex;
  justify-content: space-between;
  background: #161d2f;
  height: 56px;
  align-items: center;
  padding: 18px 16px;
}
.photos-div {
  display: flex;
  width: 130px;
  height: 16px;
  justify-content: space-between;
}
form {
  display: flex;
  gap: 16px;
  margin-left: 16px;
}
.search_btn {
  border: none;
  background-color: #10141e;
}
input {
  background-color: #10141e;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border: none;
}
h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.312px;
  margin-left: 16px;
}
main {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0 16px;
}
.body_div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.body_img {
  width: 164px;
  height: 110px;
  border-radius: 8px;
}
.about_div {
  display: flex;
  flex-direction: column;
  height: 36px;
  justify-content: space-between;
}

.div_about_text {
  display: flex;
  gap: 6px;
}

.category::before {
  content: url(./photos/tv_little.svg);
  margin-right: 4px;
}
.title {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.isBookmarked {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 32px;
  background: rgba(16, 20, 30, 0.5006);
  display: flex;
  justify-content: center;
  align-items: center;
}

.notBookmarked {
  background-image: url(./photos/bookmarked.svg);
  width: 11px;
  height: 14px;
}

.bookmarked {
  background: url(./photos/notBookmark\ .svg);
  width: 11px;
  height: 14px;
}

.imgPicture {
  width: 164px;
  height: 110px;
  border-radius: 8px;
}
.descriptionDiv {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.descriptionDiv p {
  color: white;
}
.Maindiv {
  height: 164px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
