* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  background: #10141e;
  font-family: Outfit;
  gap: 2.6rem;
}

header {
  display: flex;
  justify-content: space-between;
  background: #161d2f;
  height: 5.6rem;
  align-items: center;
  padding: 1.8rem 1.6rem;
}
.photos-div {
  display: flex;
  width: 13.3536rem;
  height: 1.6rem;
  justify-content: space-between;
}
form {
  display: flex;
  gap: 1.6rem;
  margin-left: 1.6rem;
}
.search_btn {
  border: none;
  background-color: #10141e;
}
input {
  background-color: #10141e;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  border: none;
}
h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.0312rem;
  margin-left: 1.6rem;
}
main {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0 1.6rem;
}
.body_div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;
}
.body_img {
  width: 16.4rem;
  height: 11rem;
  border-radius: 0.8rem;
}
.about_div {
  display: flex;
  flex-direction: column;
  height: 3.6rem;
  justify-content: space-between;
}

.div_about_text {
  display: flex;
  gap: 0.6rem;
}

.category::before {
  content: url(./photos/tv_little.svg);
  margin-right: 0.4rem;
}
.title {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.isBookmarked {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  border-radius: 32px;
  background: rgba(16, 20, 30, 0.5006);
  display: flex;
  justify-content: center;
  align-items: center;
}

.notBookmarked {
  background-image: url(./photos/bookmarked.svg);
  width: 1.1667rem;
  height: 1.4rem;
}

.bookmarked {
  background: url(./photos/notBookmark\ .svg);
  width: 1.1667rem;
  height: 1.4rem;
}

.imgPicture {
  width: 164px;
  height: 110px;
  border-radius: 8px;
}
.descriptionDiv {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.descriptionDiv p {
  color: white;
}
.Maindiv {
  height: 164px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
